.root {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 0;


  .form {
    .text {
      color: #1900D5;
      cursor: pointer;
    }

    width: 60%;
  }
}
